/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* Custom Css For Specifin landing page Event-o-app */

body{
    font-family:'Open Sans';
}

/* Global change sub menu dropdown  */
#primary-menu ul ul li > a{
	font-weight:300;
}
.square-list li{
	font-family:"Roboto";
}
#content p{
	color:#332e2e;
}
.heading-block > p{
	color:#444242;
}

/* Navigation */
#primary-menu ul li > a{
    font-family: 'Roboto';
}
/* Navigation  End */

/* Homepage Blog op more link*/
.more-link{
	font-style:normal;
	color:#f6921d;
	border-color:#f6921d;
}
/* Homepage Boxes Feature from Non Profit */
.homepage-box-three .slider-feature {
    position: relative;
    transform: translateY(-20%);
    z-index: 4;
}
.homepage-box-three .slider-feature a {
    color: #222;
    transition: all .2s ease;
}
.homepage-box-three .slider-feature .card-body{
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-weight: 400;
}

/* Homepage Voor section */
.home-voor .feature-box p{
	min-height:130px;
}

.homepage-box-three .slider-feature a:hover {
/* background-color:rgba(254, 150, 3, 0.2784313725490196); */
/*background-color:rgb(255, 227, 188);*/
background-color: rgb(1, 136, 168);
color:#fff;
transform: translateY(-2px);
z-index: 1;
}

.homepage-box-three .slider-feature a i {
position: relative;
top: 4px;
font-size: 20px;
padding-right: 6px;
}

/* Missions Gloals
-----------------------------------------------------------------*/
.missions-gloals .feature-box {
	box-shadow: 0 0 10px rgba(99, 114, 130, 0.15);
	padding: 30px 20px 0px;
	min-height:215px; 
	border-radius: 10px;
}

/* My base carousel bootstrap */
.my-carousel .carousel-item {
    height:60vh;
    min-height:10rem;
    background-size:70%;
    /* background-position: 0; */
background-position: center;
    background-repeat:no-repeat;
}
.my-carousel .carousel-image{
    margin:11.5% 10% auto;
}
.my-carousel .carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color:#aaaaaa;
}
.my-carousel .carousel-indicators li.active{
    background-color:#FE9603;
}
.my-carousel .carousel-control-prev-icon, .my-carousel .carousel-control-next-icon{
    background-color:#555;
    width:50px;
    background-size:20px;
    padding:30px;
}
.my-carousel .slider-title {
    padding:0 30px;
}
.my-carousel .slider-title h3{
    color: #000;
	/* line-height: 55px; */
	line-height:40px;
    color:#000;
}

/* Partners logo */
#oc-clients .oc-item a{
	display:block;
	height:75px;
	line-height:75px;
}
#oc-clients .oc-item img{
	height:auto;
	vertical-align:middle;
	display:initial;
}
/* Partners Logo end */

.home-box-feature .feature-box p{
	color:#332e2e;
}

.home-box-feature .feature-box h2, .home-voor .feature-box h2{
	font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333;
}
/* Homepage end */
/* Orange Logo replace */
.orange-logo-replace{
	width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 60px;
}

/* == EVEnto app Direct Contact Feature boxes ==*/
.event-feature-boxes .feature-box.fbox-bg.fbox-center{
    min-height: 190px;
}

/* === Event Feature   === */

/* Event Paragraph block */
.event-block-app p{
	font-size: var(--basefontsize);
    color: #777;
}
/* List style square */
.square-list{
	list-style:square;
}
.square-list li{
	font-weight:bold;
	font-size:18px;
	color:#000;
	padding-bottom:5px;
}
.square-list li:hover a {
	color: #FE9603!important;
}
.feature-box-height .feature-box {
    min-height:260px;
}
.feature-box-height-longer .feature-box{
    min-height:280px;
}
.feature-box h3{
	word-break:break-all;
}
/* === Event Feature  end === */
/*====  Voorwie page ==== */
.voorwie-headings .heading-block h1,
.voorwie-headings .heading-block h2,
.voorwie-headings .heading-block h3, 
.voorwie-headings .heading-block h4, 
.voorwie-headings .emphasis-title h1, 
.voorwie-headings .emphasis-title h2{
    text-transform:unset;
}
/*====  Voorwie page end  ==== */
/* === Pricing prijzen ====*/
.event-price-boxes .pricing-box.best-price{
	min-height:570px;
}
.event-price-boxes .pricing-box.best-price img{
	margin-bottom:15px;
}
.m-20-price{
	margin-top:20px;
}
.m-51-price{
	margin-top:51px;
}
.event-price-boxes .pricing-features{
		border:0;
}
/* === Pricing prijzen end====*/
/*== Blog Details ==*/
/*  Event - Breadcrumbs */
#event-breadcrumb .breadcrumb{
	position:relative!important;
}
/*== Blog Details ==*/

.height-pricing-title{
	min-height:455px;
}

/*  Main heading h2*/
.heading-block > p{
	color: #332e2e;
}
.square-list li:hover a {
    color: #f6921e!important;
}
/* Text Dark  Navigation right */
.text-dark{
	color:#333!important;
}
.square-list li{
	font-family:"Roboto";
}

.toggle .text-small{
	font-size:12px;
}
.toggle .togglet i{
	right:190px;
	left:auto;
}
.my-toggle .togglec{
	padding-left:0;
}
.my-toggle .togglec p{
	list-style: circle;
	font-size:10px;
}
.my-toggle .text-toggle{
	font-size:12px;
	margin-bottom:0px;
    color: #555;
    font-weight: 300;
}
.ideal-paragraph{
	color:#555!important;
}
.big-price{
	font-size:22px;
}

.acctitle{
	font-size:12px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}
.accordion.accordion-border .acc_content{
	font-size:12px;
	font-weight:300;
}

.accordion.accordion-border .acctitle i{
	color:#f6921e;
}
.blog-details-paragraph p{
	font-size:16px;
}
/* Footer  */
.footer-widgets-wrap h4{
	font-size:16px;
}
@media screen and (min-width:992px) and (max-width:1200px){
	.missions-gloals .feature-box{
		min-height:300px;
	}
}
@media screen and (max-width:1200px){
	.home-voor .feature-box p{
		min-height:100%;
	}
}
@media screen and (min-width:1600px){
	.my-carousel .carousel-item {
		height:65vh;
	}
}
@media screen and (min-width:1550px){
	.my-carousel .slider-title h3{
		font-size:40px;
	}
}
@media screen and (max-width:1500px){
	.my-carousel .slider-title h3{
		font-size:32px;
	}
}